body{
	background-color:gainsboro;
	font-family: 'Roboto', sans-serif;
}

.header{
	margin-top: 50px;
	text-align:center;
	margin: auto;
}

h2{
	color:black;
}

.menu{
	margin: auto;
	margin-top: 10px;
	width: 80%;
	height: 49px;
	background-color: grey;
	text-align:center;
}

ul{
	margin-right:18px;
	margin-left:18px;
}

li{
	display: inline-block;
    color: gainsboro;
    text-align: center;
    padding: 16px;  
}

a{
	text-decoration: none;
	color: gainsboro;
	padding:16px;
}

li a:hover{
	background-color:darkgrey;
}

.active{
	background-color:darkgrey;
    padding: 16px;
    padding-bottom: 15px;
}

.mainContent{
	margin-top: 10px;
	margin-left:10%;
	margin-right:10%;
	width:80%;
	height:675px;
	background-color:grey;
}

.footer{
	margin-top: 10px;
	margin-left:10%;
	margin-right:10%;
	width:80%;
	height:50px;
	background-color:grey;
}

footer{
	text-align:center;
	font-size:75%;
	color: gainsboro;
	padding:18px;
}