body{
	margin:auto;
	background: url("../img/background.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
}

.menu{
    height: 1656px;
    background-image: url("../img/scroll.png");
    background-size: cover;
    margin: auto;
    background-position: center;
    text-align: center;
    position:relative;
    z-index: 0;
    

}

.main-container{
	margin: auto;
	width: 1000px;
	height: 400px;
	position: relative;
}

.left-info{
	width: 573px;
	height: 326px;
	color: black;
    margin:auto;}

.right-info{
	width: auto;
	height: auto;
    margin: auto;}

.main-game-container{
	margin: auto;
	width: 1200px;
	height: 1200px;
	position: absolute;
}

.logo-home-top{
	margin: auto;
	position:relative;
	top:35px;
	display: block;
	width: 400px;
}


.menu-link{
	text-decoration: none;
	font-size: 35px;
    padding-left: 50px;
    padding-right: 50px;
	color: black;
    z-index: 1;
    position:relative;

    
}

.active{
    color:crimson;
    text-decoration: none;
    margin-top:150px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;

    font-size: 35px;

	display:inline-block;
}


.menu-link:hover {
    color:ghostwhite;
}

.login{
	margin: auto;
	width: 500px;
	height: auto;
	position: relative;
    font-size: 20px;
	padding-top: 45px;
	padding-left: 50px;
	color: black;
    
}

.forum-main{
	text-align: left;
    margin-left: 25%;
	width: 800px;
	position: relative;
    float: left;
    font-size: px;
	padding:10px;
	color: black;
}

hr{
    border-color:darkgray;
    border-style:groove;
}