<!DOCTYPE html>
<html>
<head>
	<title>Currents of Time</title>
	<link rel="stylesheet" href="../css/main-theme.css">
	<link rel="shortcut icon" href="../img/Time.ico">
	<link href="https://fonts.googleapis.com/css?family=Mirza" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
	<script src="../js/script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<img class="logo-home-top" src="../img/logo.png">
	<header>
		<nav class="menu">
			<ul class="menu-link">
				<li>Home</li>
				<li>Forum</li>
				<li>Games</li>
				<li>Login</li>
			</ul>
		</nav>
	</header>
	{{{body}}}
</body>
</html>