<!DOCTYPE html>
<html>
<head>
	<title>Currents of Time</title>
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="shortcut icon" href="../img/Time.ico">
	<link href="https://fonts.googleapis.com/css?family=Mirza" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
	<script src="../js/script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<header>
		<img class="header-logo" src="../img/logo.png">
	</header>
	<br><br>
	<div class="nav">
		<ul class="nav-link">
			<li class="nav-li">Home</li>
			<li class="nav-li">Forum</li>
			<li class="nav-li">Games</li>
			<li class="nav-li">Login</li>
		</ul>
	</div>
	<br><br>
	{{{body}}}
	<br><br>
	<footer>
		Copyright yo
	</footer>
</body>
</html>