<!DOCTYPE html>
<html>
<head>
	<title>Currents of Time</title>
	<link rel="stylesheet" href="../css/styles.css">
	<link rel="shortcut icon" href="../img/Time.ico">
	<link href="https://fonts.googleapis.com/css?family=Mirza" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
	<script src="../js/script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<header style="z-index:1;">
<div class="nav" style="position:fixed;">
            <ul class="nav-link">
  <li><a href="/">Home</a></li>
  <li class="dropdown">
    <a href="games" class="dropbtn">Games</a>
    <div class="dropdown-content">
      <a href="#">Atlantis</a>
      <a href="#">Olympus</a>
      <a href="">Tartarus</a>
    </div>
  </li>
 <li style="float:right;"><a class="menu-link" href="profile">Profile</a>  </li>

</ul>
	</div>
	</header>
	{{{body}}}
	<br><br>
  <footer class="foot">All trademarks and copyrights on this site are owned by their respective owners.
    </footer>
    



    </body>
    
    
</html>