<div class="forum">
	<div class="forum-post" id="post1">
		<h2 class="forum-post-title">Nome do post</h2><br>
		<p class="forum-post-sample">Primeiros 256 caracteres do post</p><br>
		<p class="forum-post-author">By: nome</p>
		<span class="forum-post-date">Data do post</span>
	</div>
	<div class="forum-post" id="post2">
		<h2 class="forum-post-title">Nome do post</h2><br>
		<p class="forum-post-sample">Primeiros 256 caracteres do post</p><br>
		<p class="forum-post-author">By: nome</p>
		<span class="forum-post-date">Data do post</span>
	</div>
	<div class="forum-post" id="post3">
		<h2 class="forum-post-title">Nome do post</h2><br>
		<p class="forum-post-sample">Primeiros 256 caracteres do post</p><br>
		<p class="forum-post-author">By: nome</p>
		<span class="forum-post-date">Data do post</span>
	</div>
	<div class="forum-post" id="post4">
		<h2 class="forum-post-title">Nome do post</h2><br>
		<p class="forum-post-sample">Primeiros 256 caracteres do post</p><br>
		<p class="forum-post-author">By: nome</p>
		<span class="forum-post-date">Data do post</span>
	</div>
	<div class="forum-post" id="post5">
		<h2 class="forum-post-title">Nome do post</h2><br>
		<p class="forum-post-sample">Primeiros 256 caracteres do post</p><br>
		<p class="forum-post-author">By: nome</p>
		<span class="forum-post-date">Data do post</span>
	</div>
</div>