<div class="bgimg-1">
  <div class="caption">
		<img class="header-logo" src="../img/logo.png">
  </div>
</div>

<div class="info">
  When Cronos learned of the prophecy that one of his children would supplant him as ruler of the world, he attemped to imprision the Gods of Olympus in Tartarus, a dungeon of torment and suffering. However, Zeus avoided that fate and went into exile. You play as Kairos, a Greek mercenary who has secretly been given the Scythe of Time by a mysterious woman. Your adventure begins with the quest to find Zeus - the only one who will have the power to permanently defeat Cronos and fullfill the prophecy.
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:30px;color: #f7f7f7;">FIGHT MYTHICAL CREATURES</span>
  </div>
</div>

<div style="position:relative;">
  <div class="info">
    <p>In this journey you will be attacked by all manner of creatures. From beasts cursed with an unquenchable hunger, to gods of ancient and ferocious magic.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:30px;color: #f7f7f7;">EXPLORE ANCIENT LOCATIONS</span>
  </div>
</div>

<div style="position:relative;">
  <div class="info">
<p>Explore the kingdoms of ancient Greece and find them scarred by Crono’s rage. From the sunken City of Atlantis, to the corrupted Mount Olympus.</p>

  </div>
</div>

<div class="bgimg-4">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:30px;color: #f7f7f7;">THE PROPHECY WILL BE FULFILLED</span>
  </div>
</div>