
<!DOCTYPE html>
<html>
<head>
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
    
background-image: url("../img/background.jpg");
  min-height: 500px;
}

.bgimg-2 {
	background-image: url("../img/underworld.jpg");
    min-height: 500px;
}

.bgimg-3 {
	background-image: url("../img/atlantis.jpg");
    min-height: 500px;
}

.bgimg-4 {
	background-image: url("../img/gods.jpg");
    min-height: 500px;
}
    
.caption { 
font-family: 'IM Fell DW Pica SC', serif;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
    
.division{
    background-image: url(../img/information.jpg);
    background-size:auto 100%;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
    color:ghostwhite;
    font-family: 'IM Fell DW Pica SC', serif;

}
    
.info{
    font-family: 'IM Fell DW Pica SC', serif;
    background-image: url(../img/information.jpg);
    background-size:auto 100%;
    color: ghostwhite;
    background-color:white;
    text-align:center;
    font-size:27px;
    padding:66px;
    text-align: justify;"
    }

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
</style>
</head>
<body>

<div class="bgimg-1">
  <div class="caption">
		<img class="header-logo" src="../img/logo.png">
  </div>
</div>

<div class="info">
  When Cronos learned of the prophecy that one of his children would supplant him as ruler of the world, he attemped to imprision the Gods of Olympus in Tartarus, a dungeon of torment and suffering. However, Zeus avoided that fate and went into exile. You play as Kairos, a Greek mercenary who has secretly been given the Scythe of Time by a mysterious woman. Your adventure begins with the quest to find Zeus - the only one who will have the power to permanently defeat Cronos and fullfill the prophecy.
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:30px;color: #f7f7f7;">FIGHT MYTHICAL CREATURES</span>
  </div>
</div>

<div style="position:relative;">
  <div class="info">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:30px;color: #f7f7f7;">EXPLORE ANCIENT LOCATIONS</span>
  </div>
</div>

<div style="position:relative;">
  <div class="info">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-4">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:30px;color: #f7f7f7;">SAVE GREECE</span>
  </div>
</div>

</body>
</html>