<div class="profile">
	<img class="profile-img" src="../img/userprofille.gif" alt="nomeProfImg">
	<h2 class="profile-name">Nome do user</h2>
	<p class="profile-bio">Bio do user. Sou o pedro e gosto de jogar velho pergaminhos lendas.</p>
	<span>outras coisas tipo leaderboards e assim</span>
</div>