<div class="contain">

    <div class="profile">

        <div class="left-info">

            

            <img style="width:180px;" class="profile-img" src="../img/profile.png" alt="nomeProfImg">
        </div>


        <div class="right-info">
        <h2 class="profile-name">Username</h2>

            <p class="profile-bio">User bio description here.</p>

            <table width="400" style="text-align:center; margin-top: 50px;">
                <tr style="font-size:20px;">
                    <td>Atlantis</td>
                    <td>Olympus</td>
                    <td>Tartarus</td>
                </tr>
                <tr>
                    <td>30 points</td>
                    <td>11 deaths</td>
                    <td>01:27 min</td>
                </tr>
            </table>
        </div>
    </div>
</div>  